---
layout: default
title_element: h1
---
<div class="container">
  <div class="row">
    <div class="span8">
      <section class="posts">
      {% for post in site.posts %}
          {% if post.published == true %}
              <article>
                    <time datetime="{{post.date | date: "%Y-%m-%d"}}">{{post.date | date: "<span class='month-day'>%B %e</span> <span class='year'>%Y</span>"}}</time>
                    <h1 class="title"><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h1>
                    <section class="summary">
                      {{post.summary}}
                    </section>
                <hr>
                <br>
              </article>
          {% endif %}
      {% endfor %}
      </section>
    </div>
  <div class="row">
    <div class="span4">
      <h3>Looking for more posts?</h3>
      <ul>
        <li><a href="/feed.xml">RSS</a></li>
        <li><a href="/archive.html">Archive<a></li>
      </ul>
    </div>
  </div>
</div>
