---
layout: default
title_element: h1
---
<div class="container">
  <h2>Scott is a graduate student of Computer Science
    at <a href="http://www.purdue.edu">Purdue University</a>.  
  </h2>
  <h4>For more information about Scott, please see the 
        <a href="/about.html">About</a> page.</a>
  </h4>
  <br><br>
  <div class="row">
    <div class="span4">
      <div class="page-header">
        <h1>Blog posts</h1>
      </div>

      <section class="posts">
      {% for post in site.posts limit:3 %}
          {% if post.published == true %}
              <article>
              <!--<time datetime="{{post.date | date: "%Y-%m-%d"}}">{{post.date | date: "<span class='month-day'>%B %e</span> <span class='year'>%Y</span>"}}</time> -->
                    <h2 class="title"><a href="{{post.url}}">{{ post.title }}</a></h2>
                    <section class="summary">
                    <p>{{post.summary}}</p>
                    </section>
                <hr>
                <br>
              </article>
          {% endif %}
      {% endfor %}
      </section>
      <h3>More posts:</h3>
      <ul>
        <li><a href="/feed.xml">RSS</a></li>
        <li><a href="archive.html">Archive</a></li>
      </ul>
    </div>
    <div class="span4">
      <div class="page-header">
        <h1>Projects</h1>
      </div>
      <h2 class="title"><a href="/data-confidentiality-and-integrity">
          Data Confidentiality and Integrity</a></h2>
      <p>
      Memory corruption errors in C/C++ are a never-ending source of 
      security vulnerabilities.  DCI is designed to prevent attacks that leak
      information or change important variables without changing the program's 
      normal control flow. 
      </p>
      <h2 class="title"><a href="http://wind.cs.purdue.edu">
          Robust Distributed Wind Power Engineering</a></h2>
      <h5>(August 2012 to July 2014) </h5>
      <p>We aim to develop an integrated wind
          farm control infrastructure optimizing for safety, longetivity, and
          performance.</p>
      <hr>
      <p>
      <br>
    </div>
    <div class="span4">
      <div class="page-header">
        <h1>Publications</h1>
      </div>
      Scott A. Carr, Mathias Payer. Poster: 
      <a href="/data-confidentiality-and-integrity">Data Confidentiality and Integrity.</a>
      IEEE Symposium on Security and Privacy 2015.
      <a href="http://www.ieee-security.org/TC/SP2015/posters/paper_14.pdf">(pdf)</a>
      <hr>
      <p>Scott A. Carr, Neil Pittman. 
      <a href="http://research.microsoft.com/apps/pubs/?id=255674">
        <i>Extending gNOSIS for System Verilog HDL Static Analysis.</i>
      </a>
      Microsoft Research Technical Report: MSR-TR-2015-68.
      </p>
      <hr>
      <p>Sungmin Kim, Douglas E. Adams , Hoon Sohn, Gustavo Rodriguez-Rivera, Jan Vitek, Scott A. Carr, Ananth Grama.
       <i>Validation of Vibro-Acoustic Modulation of Wind Turbine Blades for Structural Health Monitoring Using Operational Vibration as a Pumping Signal.</i>
        INTERNATIONAL WORKSHOP ON STRUCTURAL HEALTH MONITORING 2013.<a href="http://wind.cs.purdue.edu/papers/Manuscript2_njm_smk3_dea2_smk.pdf">(pdf)</a> 
      </p>
      <hr>
    </div>
  </div>
</div>
