---
layout: default
---
<div class="container">
  <div class="row">
    <div class="span7">
      <article>
          <time datetime="{{page.date | date: "%Y-%m-%d"}}">{{page.date | date: "<span class='month-day'>%B %e</span> <span class='year'>%Y</span>"}}</time>
        <h1 class="title">{{page.title}}</h1>
        <br><br>
        <p>
        {{content}}
          {% include next_action.md %}
        </p>
      </article>
    </div>
  <div class="row">
    <div class="span4 offset1">
      <h3>Looking for more posts?</h3>
      <ul>
        <li><a href="/feed.xml">RSS</a></li>
        <li><a href="archive.html">Archive<a></li>
      </ul>
    </div>
  </div>
</div>


